{% extends 'base.html'%} {% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> {% endblock %} {% block content %}

<body>
    <br>
    <div class="container">
        <h1 class="text-center fs-1 fw-bold">LORA PITCH-APP</h1>
        <h3 class="text-center fs-3"> <p>{{Quote.quote}}</p>
            <h5>{{Quote.author}}</h5></h3>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="card text-center">
                    <div class="card-header fs-1 fw-bold">
                        Blog
                    </div>
                 
                    <div class="card-footer text-muted">
                        <button type="button" class="btn btn-outline-primary"><a href="../pitch/">Add Blog</a></button>
                        <button type="button" class="btn btn-outline-primary"><a href="/categories/inspiration">View Blogs</a></button>
                    </div>
                </div>
            </div>
            
         
        </div>
    </div>
    
    {% endblock%}
 
</body>