{% extends 'base.html'%} {% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> {% endblock %} {% block content %}

<body style="background-color: #ffdacc">
    <br>
    <div class="container">
        <h1 class="text-center fs-1 fw-bold">LORA BLOG</h1>
        <h3 class="text-center fs-4"> {{Quote.quote}}</h3>
            <h5 class="text-center fs-2">Author: {{Quote.author}}</h5>
    </div>
    <br>
    <br>
    <h3 style="text-align: center;">Recent Blogs</h3>
    <div class="container">
        <div class="column">
            <div class="col-12 col-md-12">
                <div class="card text-center">
                    <div class="card-header fs-1 fw-bold">
                        <h4 style="font-weight: bold;">Fitness Blog</h4>
                        <p style="font-size: 15px;"> My Fitness Pal is an online platform that helps people lose weight.<br> The site also offers a great set of mobile apps that allow users<br> to keep track of their weight, exercise regularly, and more.</p>
                    </div>
                    
                    <div class="card-footer text-muted">
                        <button type="button" class="btn btn-outline-primary"><a href="../pitch/">Add Blog</a></button>
                        <button type="button" class="btn btn-outline-primary"><a href="/categories/inspiration">View Blogs</a></button>
                    </div>
                </div>
            </div>
            
         
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="column">
            <div class="col-12 col-md-12">
                <div class="card text-center">
                    <div class="card-header fs-1 fw-bold">
                        <h4 style="font-weight: bold;">Travel Blog</h4>
                        <p style="font-size: 15px;"> Nature lovers will really enjoy reading this travel blog website.<br> Atlas and Boots is dedicated to outdoor travel, including lifestyle tips,<br> hiking, diving, and other fun nature-oriented activities.</p> 

                  
                    </div>
                    
                    <div class="card-footer text-muted">
                        <button type="button" class="btn btn-outline-primary"><a href="../pitch/">Add Blog</a></button>
                        <button type="button" class="btn btn-outline-primary"><a href="/categories/inspiration">View Blogs</a></button>
                    </div>
                </div>
            </div>
            
         
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="column">
            <div class="col-12 col-md-12">
                <div class="card text-center">
                    <div class="card-header fs-1 fw-bold">
                        <h4 style="font-weight: bold;">Lifestyle Blog</h4>
                        <p style="font-size: 15px;"> My Fitness Pal is an online platform that helps people lose weight.<br> The site also offers a great set of mobile apps that allow users<br> to keep track of their weight, exercise regularly, and more.</p>
                    </div>
                    
                    <div class="card-footer text-muted">
                        <button type="button" class="btn btn-outline-primary"><a href="../pitch/">Add Blog</a></button>
                        <button type="button" class="btn btn-outline-primary"><a href="/categories/inspiration">View Blogs</a></button>
                    </div>
                </div>
            </div>
            
         
        </div>
    </div>
    <div class="footer" style="background-color: black; height: 50px;color: white; margin-top: 10%;">
        <p class="foot" style="text-align: center; padding-top: 1%;">Copyright © 2022:Flora Chepchirchir</p>
    </div>

    {% endblock%}
 
</body>